<div class="navbar">
  <div>
    <h2>Mvc Pattern</h2>
  </div>
  <div>
    <a href="" class="text-purple-900">Ana Sayfa</a>
    <a href="" class="text-purple-900">Kitaplar</a>
    <a href="" class="text-purple-900">Ürünler</a>
    <a href="" class="text-purple-900">İletişim</a>
  </div>
</div>
